<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content_body">
     <% unless @docs.blank? %>
      <% @docs.each do |doc| %>
       <h1><%= link_to doc.title, doc_path(doc) %></h1>
        <p>Last update : <%= time_ago_in_words(doc.created_at) %> ago</p>
         <p><%= truncate(doc.content, length: 150) %></p>
          <% if current_user %>
           <div class="action_btn">
           <%= link_to "Create document", new_doc_path, class: "btn btn-md btn-info" %>
           <%= link_to 'Edit document', edit_doc_path(doc), class: 'btn btn-md btn-success' %>
           <%= link_to 'Delete document', doc_path(doc), class: 'btn btn-md btn-danger', method: 
                       :delete, data: { confirm: "Are you sure?" } %>
           </div>
         </div>
        <% end %>           
   <% end %>
  <% else %>
   <div class="new_user">
       <h1>Create document!</h1>
       <p>Start creating document and organize your life!</p>   
   </div>
  <%= link_to "Create document", new_doc_path, class: "btn btn-md btn-success" %>
<% end %>
        
    </div>
</div>